h1{
    text-align: center;
}
.madeby {
    margin-top: 30%;
    margin-left: 80%;
}
#LogoDiv{
    margin-left: 35%;
    width: fit-content;
    float: left;
}
#SignIn{
    font-size: 1em;
    width: 9em;
}
#SignIn:hover{
    transform: scale(0.85);
}
#signInDiv{
    margin-top: -3.5%;
    margin-left: 80%;
    font-size: larger;
}
#Register{
    font-size: 1em;
    width: 9em;
}
#Register:hover{
    transform: scale(0.85);
}
#regDiv{
    font-size: larger;
}
body{
    animation: change 10s infinite;
    background-image: url('../img/beachy_cliff_sussex.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
}
