h1{
    text-align: center;
}
.madeby {
    margin-top: 30%;
    margin-left: 80%;
}
#LogoDiv{
    margin-left: 35%;
    width: fit-content;
    float: left;
}
#SignIn{
    font-size: 1em;
    width: 9em;
}
#SignIn:hover{
    transform: scale(0.85);
}
#signInDiv{
    margin-top: -3.5%;
    margin-left: 80%;
    font-size: larger;
}
#Register{
    font-size: 1em;
    width: 9em;
}
#Register:hover{
    transform: scale(0.85);
}
#regDiv{
    font-size: larger;
}
body{
    animation: change 10s infinite;
}
@keyframes change{
    0%{background-color: #1abc9c;}
    25%{background-color: #2ecc71;}
    50%{background-color: #3498db;}
    75%{background-color: #9b59b6;}
    100%{background-color: #e74c3c;}
}