<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="indexStyle.css" media="screen">
    </head>
    <body>
        <marquee direction="right" behaviour="alternate" hspace="35%" scrollamount="8">
            <h1><%= title %></h1>
        </marquee>
        <marquee direction="left" behaviour="alternate" hspace="35%" scrollamount="8">
            <h1>E-Shop Kevin & Georgi</h1>
        </marquee>
        <% if(userFullName) { %>
            <h2>Hello <%=userFullName%></h2>
            <a href="/signout">Sign out</a>
        <% } else { %>
            <a href="/signup">Signup</a>
            <a href="/signin">Signin</a>
        <% } %>

        <div id="LogoDiv">
            <img src="img/logo.jpg" alt="Logo" width="400px" height="400px">
        </div>
        <div class="madeby">K &amp; G Commerce &copy;<br> Made by Kevin Nguyen and Georgi Kotsev</div>
        <script src="indexPage.js"></script>
    </body>
</html>
