<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
    div{
        border: 4px dotted red;
        width: 30%;
        font-family: 'Comic Sans MS';
        font-size: large;
        margin-top: 200px;
        margin-left: 600px;
    }
    h1{
        text-align: center;
    }
    </style>
    <body>
        <h1>Clothes for naughty boys</h1>
        <table style="width: 100%;">
            <tr>
                <th>T-Shirts</th>
                <th>Dresses</th>
                <th>Rocks</th>
                <th>Dildos</th>
            </tr>
            <tr>
                <td>15 EUR</td>
                <td>20 EUR</td>
                <td>25 EUR</td>
                <td>50 EUR</td>
            </tr>
        </table>
        <div>
            <ul>
                <li>Paying only in cash</li>
                <li>Everything is OURS because of communism</li>
                <li>Don't forget to make your beloved ones happy</li>
                <li>We support LGBTQ+ only in June</li>
            </ul>
        </div>
    </body>
</html>
