<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <style>
    h1{
        text-align: center;
    }
    .madeby {
        margin-top: 30%;
        margin-left: 80%;
    }
    #LogoDiv{
        margin-left: 35%;
        width: fit-content;
        float: left;
    }
    #SignIn{
        margin-left: 80%;
        margin-top: -8%;
    }
    </style>
    <body>
        <h1>The best pranksters</h1>
        <h1>E-Shop Kevin & Georgi</h1>
        <div id="Register">
            <table>
                <tr><td>Username:<td><input name="username" type="text" size="20" maxlength="20" required autofocus></input></tr>
                <tr><td>First name:<td><input name="firstname" type="text" size="20" maxlength="20" required autofocus></tr>
                <tr><td>Last name:<td><input name="lastname" type="text" size="20" maxlength="20" required autofocus></tr>
                <tr><td>Password:<td><input name="password" type="password" size="20" maxlength="20" required autofocus></tr>
            </table>
        
            <button type="button" onclick="alert('Successfully signed up')">Register</button>
        </div>
        <div id="LogoDiv">
            <img src="img/logo.png" alt="Logo">
        </div>
        <div id="SignIn">
            <table>
                <tr><td>Username:<td><input name="username" type="text" size="20" maxlength="20" required autofocus></input></tr>
                <tr><td>Password:<td><input name="password" type="password" size="20" maxlength="20" required autofocus></tr>
            </table>

            <button id="BtnSignIn" type="button" onclick="alert('Successfully signed in')">Sign in</button>
        </div>
        <div class="madeby">&copy; Marketplace 2021 <br> Made by Kevin Nguyen and Georgi Kotsev</div>
    </body>
</html>
