<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="indexStyle.css" media="screen">
    </head>
    <body>
        <marquee direction="left" behaviour="alternate" hspace="35%" scrollamount="8">
            <h1>E-Shop Kevin & Georgi</h1>
        </marquee>
        <div id="Register">
            <table>
                <tr><td>Username:<td><input name="username" type="text" size="20" maxlength="20" required autofocus></input></tr>
                <tr><td>First name:<td><input name="firstname" type="text" size="20" maxlength="20" required autofocus></input></tr>
                <tr><td>Last name:<td><input name="lastname" type="text" size="20" maxlength="20" required autofocus></input></tr>
                <tr><td>Password:<td><input name="password" type="password" size="20" maxlength="20" required autofocus></input></tr>
            </table>
        
            <button id="RegBtn" type="button" onclick="alert('Successfully signed up')">Register</button>
        </div>
        <div id="LogoDiv">
            <img src="img/logo.jpg" alt="Logo" width="400px" height="400px">
        </div>
        <div id="SignIn">
            <table>
                <tr><td>Username:<td><input name="username" type="text" size="20" maxlength="20" required autofocus></input></tr>
                <tr><td>Password:<td><input name="password" type="password" size="20" maxlength="20" required autofocus></input></tr>
            </table>

            <button id="BtnSignIn" type="button" onclick="alert('Successfully signed in')">Sign in</button>
        </div>
        <div class="madeby">K &amp; G Commerce &copy;<br> Made by Kevin Nguyen and Georgi Kotsev</div>
        <script src="indexPage.js"></script>
    </body>
</html>
