<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <style>
    h1{
        text-align: center;
    }
    .madeby {
        margin-top: 30%;
        margin-left: 80%;
    }
    #SignInTable{
        align-self: center;
        margin-left: 40%;
        margin-top: -8.5%;
    }
    #BtnSignIn{
        margin-left: 40%;
    }
    </style>
    <body>
        <img src="../../public/img/logo.png" alt="Logo">
        <h1><%= title %></h1>
        <h1>E-Shop Kevin & Georgi</h1>
        <table id="RegisterTable">
            <tr><td>Username:<td><input name="username" type="text" size="20" maxlength="20" required autofocus></input></tr>
            <tr><td>First name:<td><input name="firstname" type="text" size="20" maxlength="20" required autofocus></tr>
            <tr><td>Last name:<td><input name="lastname" type="text" size="20" maxlength="20" required autofocus></tr>
            <tr><td>Password:<td><input name="password" type="password" size="20" maxlength="20" required autofocus></tr>
        </table>

        <button type="button" onclick="alert('Successfully signed up')">Register</button>

        <table id="SignInTable">
            <tr><td>Username:<td><input name="username" type="text" size="20" maxlength="20" required autofocus></input></tr>
            <tr><td>Password:<td><input name="password" type="password" size="20" maxlength="20" required autofocus></tr>
        </table>
        <button id="BtnSignIn" type="button" onclick="alert('Successfully signed in')">Sign in</button>
        <div class="madeby">&copy; Marketplace 2021 <br> Made by Kevin Nguyen and Georgi Kotsev</div>
    </body>
</html>
