<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="css/indexStyle.css" media="screen">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <marquee direction="right" behaviour="alternate" hspace="35%" scrollamount="8">
            <h1><%= title %></h1>
        </marquee>
        <marquee direction="left" behaviour="alternate" hspace="35%" scrollamount="8">
            <h1>E-Shop Kevin & Georgi</h1>
        </marquee>
        <% if(userFullName) { %>
            <h2>Hello <%=userFullName%></h2>
            <a href="/signout">Sign out</a>
        <% } else { %>
            <div id="regDiv">Don't have an account?<br> Click here to register:<br>
                <button id="Register" onclick="window.location='/signup';">Sign up</button>
            </div>
            <div id="signInDiv">Already a registered user?<br> Sign in and enjoy!<br>
                <button id="SignIn" onclick="window.location='/signin';">Sign in</button>
            </div>
        <% } %>

        <div id="LogoDiv">
            <img src="img/logo.jpg" alt="Logo" width="350px" height="350px">
        </div>
        <div class="madeby">K &amp; G Commerce &copy;<br> Made by Kevin Nguyen and Georgi Kotsev</div>
    </body>
</html>
