<!DOCTYPE html>
<html>
    <head>
        <title>
            User profile
        </title>
    </head>
    <body>
        <div>
            <label>First Name:</label>
            <%= firstName%>
        </div>
        <div>
            <label>Last Name:</label>
            <%= lastName%>
        </div>
        <div>
            <label>Email:</label>
            <%= email%>
        </div>
        <div>
            <label>Username:</label>
            <%= username%>
        </div>
    </body>
</html>
