<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=title %>
        </title>
        <link rel="stylesheet" href="css/signInStyle.css" media="screen">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <% for (var i in messages) { %>
            <div class="flash"><%= messages[i] %></div>
        <% } %>
        <!-- <h1>Welcome home, young padawan!</h1> -->
        <div id="header"><h1>Welcome home, young padawan!</h1></div>
        <form id="SignInForm" class="formClass" action="/signin" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input id="buttonSubmit" type="submit" value="Sign In" />
            </div>
        </form>
        <!-- <a href="/oauth/facebook">Sign in with Facebook</a> -->
    </body>
</html>
